.background 
    {
        background-color: red;
    }

.logo {
        width: 43px; /* Ajusta el ancho de la imagen según sea necesario */
        height: auto; /* Mantiene la proporción de aspecto */
      }
      